<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Exemplo 5 Sprint MVC</title>
    </head>
    <body>
        <h1>Exemplo 5 Sprint MVC</h1>
        <p>Apelido <span th:text="${apelido}">apelido</span></p>
        <p>Número: <span th:text="${numero}">numero</span></p>
        <div th:if="${dtnasc != null}">
            <p>Data Nascimento <span th:text="${dtnasc}">dtnasc</span></p>
            <p>Idade: <span th:text="${idade}">idade</span></p>
        </div>
        <div th:unless="${dtnasc != null}">
            <p>Data de Nascimento não informada</p>
        </div>
    </body>
</html>